

.Toolbar{
    width: 100%;
    background: rgb(21, 20, 29);
}
.Container{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.RightLink{
    font-size: 20px;
    text-decoration: none;
    color:white;
    padding: 0 10px;
    font-weight: bold;
}

